# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Environment / secrets
.env

# Dependencies
node_modules/
vendor/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE / Editor
.vscode
.idea

# Tests
tests/